@model E_PortfolioSystem.Web.ViewModels.Certificate.CertificateEditViewModel

@{
    ViewData["Title"] = "Добави сертификат";
}

<div class="container px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <div class="card shadow border-0 rounded-4">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h1 class="text-primary m-0">Добави нов сертификат</h1>
                        <a asp-controller="Profile" asp-action="Resume" class="btn btn-secondary">Назад</a>
                    </div>

                    <form asp-action="Add" asp-controller="Certificate" method="post" enctype="multipart/form-data">
                        @* <input asp-for="@Model.Id" type="hidden" /> *@
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <label asp-for="Title" class="form-label">Заглавие</label>
                            <input asp-for="Title" class="form-control" placeholder="Заглавие на сертификата" />
                            <span asp-validation-for="Title" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Issuer" class="form-label">Издател</label>
                            <input asp-for="Issuer" class="form-control" rows="4" placeholder="Издател на сертификата..."/>
                            <span asp-validation-for="Issuer" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IssuedDate" class="form-label"></label>
                            <input asp-for="IssuedDate" class="form-control" type="date" />
                            <span asp-validation-for="IssuedDate" class="text-danger"></span>
                        </div>

                 
                        <hr class="my-5" />

                        <h4 class="text-secondary mb-3">Прикачи документ към сертификата (по избор)</h4>

                        <div class="mb-3">
                            <label asp-for="DocumentType" class="form-label">Тип на документа</label>
                            <input asp-for="DocumentType" class="form-control" placeholder="Сертификат, Доклад и др." />
                        </div>

                        <div class="mb-3">
                            <label asp-for="DocumentDescription" class="form-label">Описание</label>
                            <textarea asp-for="DocumentDescription" class="form-control" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Избери файл</label>
                            <input asp-for="File" type="file" class="form-control" accept=".pdf,.doc,.docx,.jpg,.png" />
                        </div>


                        <div class="d-grid mb-4">
                            <button type="submit" class="btn btn-success btn-lg rounded-pill">Запази сертификата</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>