@using E_PortfolioSystem.Web.ViewModels.HRContact;
@model HRContactViewModel

<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Свържи се с мен</h1>
                <p class="lead fw-normal text-muted mb-0">Ако имаш въпроси, не се колебай да ги зададеш!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">

                    <form asp-action="Send" asp-controller="HRContact" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control" placeholder="Въведи име..." />
                            <label asp-for="Name"></label>
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="plamena@abv.bg" />
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="+359874512369" />
                            <label asp-for="PhoneNumber"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea asp-for="Message" class="form-control" style="height: 10rem" placeholder="Напиши съобщението си тук..."></textarea>
                            <label asp-for="Message"></label>
                            <span asp-validation-for="Message" class="text-danger small"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Изпрати</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>